<h1>User: <%= @user.username %></h1>


<% if @user.posts.any? %>
  <h3>User Posts:</h3>
  <ul>
    <% @user.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <%end%>
  </ul>
<% else %>
    <h3><%= @user.username %> has not made any posts.</h3>
<%end%>


<% if @user.comments.any? %>
  <h3>User Comments:</h3>
  <ul>
    <% @user.comments.each do |comment| %>
    <li><%= link_to comment.comment, post_path(comment.posts[0].id) %></li>
    <%end%>
  </ul>
<% else %>
    <h3><%= @user.username %> has not made any comments.</h3>
<%end%>

<p><%= link_to 'All Users', users_path %></p>
