<h1>Welcome to X-MEN STUFF</h1>
<hr>
<div class="highlighted_post">
  <h2>Highlighted Post</h2>
  <h3><%= @highlighted_post.title %></h3>
  <p><%= @highlighted_post.description %> </p>
</div>
<hr>

<%= link_to "Sort Alphabetically", posts_path(:sort => 'title') %>
<%= link_to "Sort by Date", posts_path(:sort => 'date') %>

<p>All Posts</p>
<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %> Rating: <%= post.avg_rating %></li>
<% end %>
</ul>

<p><%= link_to "New Post", new_post_path %></p>
<p><%= link_to "New User", new_user_path %></p>
<p><%= link_to "User Admin", users_path %></p>
